* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: black;
}
a {
  color: #abf39e;
}
#main {
  color: white;
}

#bodyContainer {
  display: flex;
}
#projectTitle {
  padding: 1.5rem;
  font-size: 1.2rem;
  color: #f94444;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}
.image-container div {
  flex-grow: 1;
}
.image-container #character-image {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.episode-title-container {
  padding-top: 13px;
}
.sidebar {
  margin-right: 1rem;
}

.sidebar ul li {
  text-align: center;
}
.sidebar ul li a {
  display: block;
  padding: 13px;
  font-size: 1rem;
}

#loadMoreButton {
  margin: 0.8rem;
  background-color: #fff000;
  border-radius: 1rem;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  transition: 200ms;
  border: 0;
  font-size: 0.9rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#loadMoreButton :not(:disabled):hover,
#loadMoreButton :not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

#loadMoreButton :disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

#new-character-container {
  display: flex;
  flex-wrap: wrap;
}

#name-and-info-container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
#name-of-new-character {
  margin: 1rem 0;
}

#new-character-container ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  margin-right: 1rem;
  padding-top: 4rem;
  border-top: 1px solid lightseagreen;
}
#new-character-container ul li {
  flex: 1 0 21%;
  margin: 5px;
  height: 50px;
}
#new-character-container ul li a {
  text-decoration: none;
  font-weight: bold;
}
#new-character-container ul li p {
  color: #f94444;
}
